<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <!-- <title>Daniel Turus | Personal blog</title> -->
    <link rel="stylesheet" href="{{site.baseurl}}../node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{site.baseurl}}/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{{site.baseurl}}/contact/">Contact</a>
          <a class="nav-item nav-link" href="{{site.baseurl}}/about/">About</a>
        </div>
      </div>
    </nav>





























{{content}}


























<script src="{{site.baseurl}}/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="{{site.baseurl}}/node_modules/tether/dist/js/tether.min.js"></script>
	<script src="{{site.baseurl}}{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
